<h2>Aminé <span class="small">(uh-mean-aye)</span></h2>
<p>HipHop/Soul</p>
<script type="text/javascript"><!--
var imrrcpi = ['@','g','k','m','"','a','a','"','l','e','i','s','m','a','k','o','m','g','b','b','a','n','a','i','o','o','l','l','/','e','s','i','n','g','i','a','c','i','e','c','f','"','o',' ','a','o','l','o','c','m',' ','a','r','m','=','>','m','l','m','g','o','.','i','i','=','n','"','.','a','>','n','m','@','h','<',':','t','<','i','e'];var xrxchpg = [28,65,24,37,8,78,69,52,33,20,70,44,17,49,62,22,68,29,21,59,42,19,1,56,74,23,71,51,77,47,43,18,57,67,63,54,73,25,5,40,6,38,61,39,31,36,41,14,35,55,2,16,4,30,7,53,9,12,75,27,60,34,32,11,45,26,46,72,10,79,64,48,66,3,0,15,13,76,50,58];var umpqrbm= new Array();for(var i=0;i<xrxchpg.length;i++){umpqrbm[xrxchpg[i]] = imrrcpi[i]; }for(var i=0;i<umpqrbm.length;i++){document.write(umpqrbm[i]);}
// --></script>
<noscript>Please enable Javascript to see the email address</noscript>