<br><br><br>
<div align="center"><embed src="http://www.datpiff.com/embed/mixtape/m6629c5c/" quality="high" wmode="transparent" pluginspage="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash" type="application/x-shockwave-flash" width="507" height="221" allowScriptAccess="always" allowScripting="on"><br><a href="http://www.datpiff.com/Amine-Odyssey-To-Me-mixtape.553094.html" target="_blank">Download Mixtape</a> | <a href="http://www.datpiff.com" target="_blank">Free Mixtapes</a> Powered by <a href="http://www.datpiff.com/" target="_blank" title="Free Mixtapes">DatPiff.com</a></div>
<br>
<iframe width="560" height="315" style="margin-left: 40px;" src="//www.youtube.com/embed/IOjU3XrMuww" frameborder="0" allowfullscreen></iframe>
<br><br>
<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122976703&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
