<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122976703&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=true"></iframe>
<div style="position: fixed; bottom: 20px; font-size: 1em; opacity: .66;">
  <a href="http://twitter.com/amineliving" target="_blank">Twitter</a>
  <a href="http://facebook.com/AmineTvMusic" target="_blank">Facebook</a>
  <a href="http://youtube.com/AmineTvMusic" target="_blank">YouTube</a>
  <a href="http://soundcloud.com/Aminemusic" target="_blank">Soundcloud</a>
</div>