html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-image: url('bg.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
}

main {
  position: relative;
}